<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fin parcours</title>
</head>
<body>
    <p>Bravo {{username}}, tu as terminé le jeu, tu es sur la dernière page du site</p>
    <img src="../static/imageendpage.jpg" alt="Logo python">    
    <div id="boutonsReponses"><button><a href="{{url_for('welcome')}}">Déconnexion</a></button></div>
    
    

    <!-- Contenu de la page ici -->
</body>
</html>