<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>    
    <link rel="stylesheet" href="../static/accueil.css">
</head>
<body>
{% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/login" method="POST">
        <label for="email">votre mail :</label>
        <input type="text" id="email" name="email" placeholder="monmail@ngft.com" required><br><br>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" placeholder="monmotdepasse"><br><br>
        <button type="submit">Se connecter</button>
    </form>
</body>
</html>