<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>    
    <link rel="stylesheet" href="../static/welcome.css">
</head>
<body>
    <!-- Contenu de la page -->
    <h1>Bonjour !!</h1>    
    <p>Bienvenue sur la page d'accueil de l'escape game python !</p>
    <button><a href="http://127.0.0.1:5000/login">Se connecter</a></button>
    <button><a href="http://127.0.0.1:5000/create_user">Inscription</a></button>
    
    <!-- Inclure des scripts JavaScript -->
    <script src="script.js"></script>

